.main_div p {
  text-align: center;
  font-size: 3rem;
  letter-spacing: 3px;
  margin-top: 1rem;
  font-style: normal;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.25);
}
.child_div {
  width: 60%;
  margin: 2rem auto;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}
.total_balance {
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  transform: translateY(-20px);
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.25);
}
.expInc {
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.6rem;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.25);
}
nput::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.form {
  margin-top: 1rem;
}
.input_fields {
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 50%;
  margin: 0 auto;
  border-radius: 10px;
  gap: 1rem;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.25);
}
.input_fields input {
  outline: none;
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  color: white;
  letter-spacing: 2px;
  background: transparent;
  border-bottom: 1px solid black;
}
.check_fields {
  display: flex;
  justify-content: center;
  max-width: 50%;
  margin: 1rem auto;
  gap: 6rem;
  font-size: 1.4rem;
}
.btn {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
}
.btn button {
  border-radius: 10px;
  width: 50%;
  font-size: 1rem;
  padding: 1rem;
  font-weight: 600;
  letter-spacing: 5px;
  border: none;
  cursor: pointer;
}
.btn button:hover {
  background-color: black;
  color: white;
  transition: ease-in 0.3s linear;
}
.list {
  background-color: rgba(69, 71, 64, 0.192);
  overflow-y: auto;
  overflow-x: none;
  height: 350px;
}
.todo_list {
  background: aliceblue;
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 1rem auto;
  padding: 0.5rem;
}
.todo_list li {
  list-style: none;
  font-size: 1.2rem;
}
